#### Arithmetics

In [2]:
int_div = 12//3
int_div

4

In [3]:
float_div = 12/3
float_div

4.0

In [4]:
rem = 13 % 5
rem

3

In [5]:
var1 = var2 = 'Same Value'

In [6]:
var1

'Same Value'

In [7]:
var2

'Same Value'

#### Strings

In [9]:
multiline = """Hey, Harrion!
What's up!
"""

multiline

"Hey, Harrion!\nWhat's up!\n"

In [1]:
name = 0
"You-gara, Mr. " + str(name)

'You-gara, Mr. 0'

In [2]:
# String formatting (Kinda like ES6 strings)

f"You-gara Mr {name}"

'You-gara Mr 0'

In [10]:
pedro = "You-gara, {}. State your {}"

print(pedro.format("Strawhat", "purpose"))
print(pedro.format("Bonekichi", "identity"))

You-gara, Strawhat. State your purpose
You-gara, Bonekichi. State your identity

In [8]:
# String formatting with named args

template = "{}, over there {name}. Are you {article} {adj}?"
print(template.format("You", name="Uffy", article="an", adj="idiot"))

You, over there Uffy. Are you an idiot?

#### Input

In [15]:
# All inputs are string

age = input("Enter your age: ")
age_num = int(input("State your age, again: ")) # Inner func evaluates first

print(age * 10)
print(age_num * 10)

Enter your age: 20
State your age, again: 20
20202020202020202020
200

In [ ]:
age

#### Truthy and falsy

In [16]:
bool("2")

True

In [17]:
bool("")

False

In [18]:
bool(0)

False

In [19]:
bool(None)

False

In [27]:
0 and 35

0

In [20]:
35 and 0

0

In [22]:
35 or 0

35

In [23]:
0 or 35

35

In [24]:
not 0

True

In [25]:
35 and 16

16

In [26]:
35 or 16

35

#### Lists

In [39]:
l = [["a", 1], ["b", 2], ["c", 3], ["d", 4]]

In [40]:
l[0:2][0:2]

[['a', 1], ['b', 2]]

In [41]:
l.append(["e", 5])
l

[['a', 1], ['b', 2], ['c', 3], ['d', 4], ['e', 5]]

In [29]:
l2 = [1, 3, 5, 9]
sum(l2)

18

#### Tuple

In [48]:
valid_tuple = "a", 2
valid_tuple

('a', 2)

In [50]:
valid_tuple = valid_tuple + (36,)
valid_tuple # Different tuple referred by same name

('a', 2, 36, 36)

In [ ]:
# We can add and remove elements from list, but not tuple. Mutability?

#### Sets

In [13]:
s1 = { "a", "b", "c", "d" }
s2 = { "a", "e", "c", "f" }

In [14]:
s1.add("a")
s1

{'a', 'b', 'c', 'd'}

In [15]:
s1.difference(s2)

{'b', 'd'}

In [16]:
s2.difference(s1)

{'e', 'f'}

In [11]:
s1.difference_update(s2) # Calculates the set difference and also updates the operand set

In [17]:
s1

{'a', 'b', 'c', 'd'}

In [19]:
s1.symmetric_difference(s2) # In either sets, but not in both

{'b', 'd', 'e', 'f'}

In [20]:
s1.intersection(s2)

{'a', 'c'}

In [21]:
s1.union(s2)

{'a', 'b', 'c', 'd', 'e', 'f'}

In [22]:
s1.__contains__("a")

True

In [25]:
s1.issuperset(s1.intersection(s2))

True

#### Dictionaries

In [ ]:
# Dictionaries keep order

In [26]:
a = [("k1", 1), ("k2", 2), ("k3", 3), ("k4", 4)]
dict(a)

{'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4}

In [28]:
a = {1, 3, 4, 5}
dict(a)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [40]:
lottery_numbers = {13, 21, 22, 5, 8}

players = [
    {
        'name': 'px0',
        'numbers': {1, 2, 3, 4, 5}
    },
    {
        'name': 'px1',
        'numbers': {13, 2, 8, 4, 6}
    }
]

p0_correct = players[0]['numbers'].intersection(lottery_numbers)
p1_correct = players[1]['numbers'].intersection(lottery_numbers)

p0_name = players[0]['name']
p1_name = players[1]['name']

temp_string = "Player {} got {} numbers right."

print(temp_string.format(p0_name, len(p0_correct)))
print(temp_string.format(p1_name, len(p1_correct)))

Player px0 got 1 numbers right.
Player px1 got 2 numbers right.